/* mobile */
@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/images-mobile/people-office-mobile.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/images-mobile/people-office-mobile@2x.jpg);
  }
}

/* tablet */
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-office-tablet.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-office-tablet@2x.jpg);
  }
}

/*desktop */
@media screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-office-hero.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
screen and (min-resolution: 192dpi) and (min-width: 1158px),
screen and (min-resolution: 2dppx) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-office-hero@2x.jpg);
  }
}

/* 0px 767px (mobile) */
@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }

  .address {
    display: none;
  }

  .current-pg::after {
    display: none;
  }

  .overview {
    display: none;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-header {
    padding-top: 24px;
    padding-bottom: 22px;
  }

  .mobile-menu-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }

  .mobile-menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--headings-color);
  }

  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--header-bg-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu-container {
    position: relative;
    padding-top: 40px;
    padding-left: 40px;
  }

  .mobile-menu-close-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    padding: 0;
    background-color: var(--accent-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color var(--transition-dur-and-func), border var(--transition-dur-and-func);
  }

  .mobile-menu-list {
    margin-bottom: 284px;
  }

  .mobile-menu-link {
    position: relative;
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--headings-color);
    padding: 20px 0px;
    transition: var(--transition-dur-and-func);
    transition-property: color;
  }

  .mobile-menu-link:hover,
  .mobile-menu-link:focus {
    color: var(--btn-hover-color);
  }

  .mobile-address-list {
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px;
  }

  .mobile-contact-tel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--active-state-color);
  }

  .mobile-contact-mail {
    display: block;
    color: var(--body-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .mobile-contact-mail {
    transition: var(--transition-dur-and-func);
    transition-property: color;
  }

  .mobile-contact-mail:hover,
  .mobile-contact-mail:focus {
    color: var(--btn-hover-color);
  }

  .mobile-social-list {
    display: flex;
    gap: 56px;
  }

  .hero {
    padding: 112px 0px;
    background-color: var(--headings-color);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
  }

  .hero-title {
    width: 320px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--header-bg-color);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 72px;
  }

  .features {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .features-title {
    display: none;
  }

  .features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
  }

  .features-list-item {
    width: 100%;
  }

  .features-icon-container {
    display: none;
  }

  .features-list-item-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
    color: var(--headings-color);
  }

  .team {
    background-color: var(--light-bg-color);
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
  }

  .team-list-item {
    max-width: 264px;
    background-color: var(--header-bg-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    margin-left: auto;
    margin-right: auto;
  }

  .team-list-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--headings-color);
    margin-bottom: 8px;
  }

  .customers {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 72px 16px;
  }

  .customers-list-item {
    flex-basis: calc((100% - 16px) / 2);
    height: 88px;

  }

  .footer {
    background-color: var(--headings-color);
    padding-top: 97px;
    padding-bottom: 96px;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 72px;
  }

  .footer-advise-container {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .footer-logo {
    margin: auto;
  }

  .footer-advise-descr {
    align-items: center;
  }

  .social-media-descr {
    text-align: center;
  }

  .subscribe {
    text-align: center;
  }

  .footer-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .footer-form-lable {
    width: 398px;
  }

  .footer-input {
    width: 100%;
    height: 40px;
    border: 1px solid var(--header-bg-color);
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--header-bg-color);
    margin: auto;
  }
}

/* 428px - 767px */
@media screen and (min-width: 428px) and (max-width: 768px) {
  .container {
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
  }

  .features-list-item {
    max-width: 396px;
  }
}


/* 768px 1157px (tablet) */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .header-container {
    display: flex;
    align-items: center;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

}

/* 768px + (tablet and desktop)*/
@media screen and (min-width: 768px) {


  .container {
    max-width: 768px;
  }

  .mobile-menu-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .current-pg {
    color: var(--btn-hover-color);
  }

  .current-pg::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--btn-hover-color);
    border-radius: 2px;
    margin-top: 20px;
    transition: var(--transition-dur-and-func);
    transition-property: opacity, visibility;
  }

  .address {
    display: flex;
    align-items: center;
    font-style: normal;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: flex-end;
    margin: 16px 0;
  }
}

/* 1158px + (desktop) */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .address-list {
    font-style: normal;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .contact-address {
    padding: 24px 0px;
  }

  .features-list,
  .overview-list,
  .team-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}